@import '_mixin';
@import '_value';
@import '_function';
@import '_animation';

$promotion-grey: #ececec;
$font-black: #222222;
$heading-color: #2f3846;
$label-blue: #185fc1;
$price-btn: #0cac1f;

i.fab, i.fas {
    font-family: 'fontawesome' !important;
    font-style: normal !important;
}

.promote-wrapper {
    margin-top: 25px;

    .promote-product {
        @include displayflex();
        justify-content: center;
        align-items: center;
        border: 1px solid $promotion-grey;

        .picks-btn {
            padding: 10px;
            color: #424040;
            font-size: 20px;
            background-color: $white;
            border: 1px solid #424040;

            &:hover, &:active {
                border-color: $label-blue;
                color: $label-blue;
            }
        }
    }

    .item {
        display: block;
        @include flexBasis(33.3333%);
        border: 0 solid $promotion-grey;
        border-left: 1px;
        text-align: center;
        padding: 0 35px 30px;

        @include mediaWidth($screen-sm) {
            @include flexBasis(100%);
            border: 0;
        }

        &:nth-of-type(0) {
            border-left: 0px;
        }

        .promo-label {
            text-align: center;
            display: inline-block;
            padding: 8px 40px 0;
            margin: -10px 0 30px 0;
            position: relative;
            background-color: $label-blue;
            text-transform: uppercase;
            color: $white;
            font-weight: 500;
    
            &:before {
                content: '';
                display: block;
                position: absolute;
                background-color: $label-blue;
                width: 100%;
                height: 36px;
                border-radius: 0 0 50% 50%;
                bottom: -15px;
                left: 0;
            }
    
            svg, p {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                position: relative;
            }
    
            svg {
                margin-right: 5px;
                margin-top: -6px;
            }
        }

        .product-image {
            height: 190px;
            overflow: hidden;
            @include displayflex();
            align-items: center;
            justify-content: center;

            img {
                height: 100%;
                object-fit: cover;
            }
        }
    
        .product-name {
            @include fontSize(20px);
            line-height: 2rem;
            height: 4rem;
            font-weight: 500;
            margin: 20px 0 10px;
            color: #2f3846;
        }

        .star {
            color: #ffc000;
            font-size: 20px;
            line-height: 1;
            margin-bottom: 20px;
            
            >i {
                margin: 0 2px;
                background-color: $white;
            }
        }
    }


    section.post-footer {
        border: 1px solid $promotion-grey;
        @include displayflex();
        justify-content: flex-start;
        align-items: center;

        .post-author {
            flex: 1;
        }

        aside.social-media {
            display: block;
        }
    }
}

.product-header {
    position: relative;
    margin-top: 50px;

    .number {
        font-size: 24px;
        line-height: 1;
        color: $white;
        background-color: $label-blue;
        padding: 7px 12px;
        margin: 0;
        position: absolute;
        left: 0;
        top: -5px;
    }

    .product-name {
        font-size: 24px !important;
        line-height: 26px;
        color : $heading-color;
        margin: 0 !important;
        padding-left: 50px;
        padding-right: 80px;

        @include mediaWidth($screen-sm) {
            padding-right: 0;
        }
    }

    .carousel-counter {
        font-size: 24px !important;
        color : $heading-color;
        margin: 0;
        position: absolute;
        right: 0;
        top: 0;

        @include mediaWidth($screen-sm) {
            display: none !important;
            visibility: hidden !important;
        }
    }
}

.product-images {
    border: 1px solid $promotion-grey;
    position: relative;
    text-align: center;
    margin: 25px 0 30px;
    padding-bottom: 10px;

    .filter-mask {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
    }

    .promo-label {
        text-align: center;
        display: inline-block;
        padding: 8px 70px 0;
        margin: -15px 0 30px 0;
        position: relative;
        background-color: $label-blue;
        text-transform: uppercase;
        color: $white;
        font-weight: 500;

        &:before {
            content: '';
            display: block;
            position: absolute;
            background-color: $label-blue;
            width: 100%;
            height: 34px;
            border-radius: 0 0 50% 50%;
            bottom: -16px;
            left: 0;
        }

        svg, p {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            position: relative;
        }

        svg {
            margin-right: 5px;
            margin-top: -3px;
        }

        p {
            margin: 0 !important;
            line-height: 1 !important;
        }
    }

    .items {
        max-width: 100%;
        @include displayflex();
        justify-content: center;
        align-items: center;

        img {
            width: auto;
            height: 400px;

            @include mediaWidth($screen-sm) {
                width: 100%;
                height: auto;
            }
        }
    }

    .owl-nav {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        margin-top: -51px;

        button {
            padding: 8px 12px !important;
            background-color: #d5d7da !important;
            visibility: visible;
            position: relative;
            
            span {
                @include displayNone('true');
            }

            &:after {
                font-family: 'fontawesome' !important;
                font-style: normal !important;
                font-size: 20px !important;
                line-height: 1 !important;
                color: $white !important;
                position: relative;
                vertical-align: middle;
            }

            &:hover {
                background-color: $label-blue !important;
            }

            &:focus {
                outline: none !important;
            }
        }

        .owl-prev {
            float: left;
            
            &:after {
                display: block;
                content: "\f053";
            }
        }

        .owl-next {
            float: right;

            &:after {
                display: block;
                content: "\f054";
            }
        }

        .disabled {
            display: none !important;
            visibility: hidden !important;
        }
    }
}

.check-price {
    display: inline-block;
    width: 100%;
    padding: 10px 15px;
    text-align: center;
    text-transform: uppercase;
    @include fontSize(16px);
    position: relative;
    color: $white;
    background-color: $price-btn;

    .fa-arrow-right {
        float: right;
    }
}

.check-price-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 35px;

    .check-price {
        width: 25vw !important;

        @include mediaWidth($screen-sm) {
            width: 75vw !important;
        }
    }
}


.entry-content {
    p {
        font-size: 18px;
        margin: 0 2px;
        line-height: 34px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    ul {
        position: relative;
        margin: 0 0 20px 20px;
        padding: 0;

        li {
            margin: 0;
            padding: 0;

            a {
                font-size: 18px;
                line-height: 34px;
                box-shadow: none;
            }
        }
    }
}

