$fontColor : #1b1b1b;
$primaryColor : #dc1c1c;
$grey-deep : #424040;
$grey-mid : #ccc;
$grey-light : #ececec;
$white : #fff;

$family : 'Heebo', sans-serif;

//Size
$h12 : 1.2rem;
$h14 : 1.4rem;
$h16 : 1.6rem;
$h18 : 1.8rem;
$h20 : 2rem;
$h22 : 2.2rem;
$h24 : 2.4rem;
$h26 : 2.6rem;
$h28 : 2.8rem;
$h30 : 3rem;
$h32 : 3.2rem;
$h34 : 3.4rem;
$h36 : 3.6rem;
$h38 : 3.8rem;
$h40 : 4rem;

$screen-lg:1024px;
$screen-md:969px;
$screen-sm:767px;
$screen-xs:414px;
$screen-xss:359px;
$screen-ipse:320px;


$mobile-padding: 15px;


//Path
$img_url:'../images/';
$svg_url:'#{$img_url}svg/';